<?xml version="1.0" encoding="UTF-8"?>
<!--
  #%L
  Think Machine (Rules)
  %%
  Copyright (C) 2017 - 2020 Softwaremagico
  %%
  This work is designed by Jorge Hortelano Otero. Jorge Hortelano Otero
  <softwaremagico@gmail.com> Valencia (Spain).
   
  This work is licensed under a Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License.
   
  If you want to read more about this license, please see <https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode>.
  #L%
  -->

<configuration>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%-5p %d{yyyy-MM-dd HH:mm:ss.SSS 'GMT'Z} %c{1} [%t] - %m%n</pattern>
    </encoder>
  </appender>
  <logger name="com.softwaremagico.tm.log.MachineLog" additivity="false" level="INFO">
    <appender-ref ref="CONSOLE"/>
  </logger>
  <logger name="com.softwaremagico.tm.log.RandomGenerationLog" additivity="false" level="ERROR">
    <appender-ref ref="CONSOLE"/>
  </logger>
  <logger name="com.softwaremagico.tm.log.MachineModulesLog" additivity="false" level="INFO">
    <appender-ref ref="CONSOLE"/>
  </logger>
  <logger name="com.softwaremagico.tm.log.CostCalculatorLog" additivity="false" level="INFO">
    <appender-ref ref="CONSOLE"/>
  </logger>
  <logger name="com.softwaremagico.tm.log.ConfigurationLog" additivity="false" level="INFO">
    <appender-ref ref="CONSOLE"/>
  </logger>
  <root level="ERROR">
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>
